.reviews {
  padding: 0;
  list-style: none;
  background-color: rgba(255, 99, 71, 0.5);
  padding: 24px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  > li {
    border: 2px dashed black;
    padding: 8px;
    border-radius: 8px;
    > h3 {
      margin: 0;
      margin-bottom: 8px;
    }
    > p {
      margin: 0;
    }
  }
}
