.trend-list {
  padding: 0;
  margin: 0 auto;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  > li {
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: rgba(255, 99, 71, 0.5);
    border-radius: 8px;
    box-shadow: 0px 5px 10px gray;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      > a {
        text-transform: uppercase;
        color: black;
        transition: all 250ms;
        font-weight: bold;
        &:hover {
          text-decoration: none;
          color: tomato;
        }
      }
    }

    > img {
      transition: transform 250ms;
      border-radius: 8px;
      display: block;
      height: 150px;
    }
  }
}
